html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #392613;
}
@font-face {
  font-family: "led";
  src: local(led), url("./led.woff") format("woff"), url("./led.woff") format("woff");
  font-weight: 100;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.drip {
  font-family: "led";
  display: flex;
  font-size: 10vw;
  color: #ccff33;

  justify-content: center;
  margin: auto;
  position: relative;
}

.stop {
  font-family: "led";
  display: flex;
  font-size: 10vw;
  color: #ccff33;

  justify-content: center;
  margin: auto;
  position: relative;

  animation: blinker 1s linear infinite;

}
